<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8"> <!-- 작업공간 -->

                        <div class="row mb-5" style="border-bottom: 3px solid black;">
                            <h2>관리자페이지</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer"
                                 onclick="location.href='/admin_detail'">
                                <p class="mt-1" style="text-align: center;">내 정보수정</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-bottom: none ;height: 40px;"
                                 onclick="location.href='/admin_user_list'">
                                <p class="mt-1" style="text-align: center;">회원관리</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-left: none; height: 40px; background-color: #f2f2f2; cursor: pointer"
                                 onclick="location.href='/admin_contact'">
                                <p class="mt-1" style="text-align: center;">문의내역</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey;  border-left: none; height: 40px; background-color: #f2f2f2; cursor: pointer"
                                 th:onclick="|location.href='@{/admin_machine_list}'|">
                                <p class="mt-1" style="text-align: center;">운동 기구 관리</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-left: none; height: 40px; background-color: #f2f2f2; cursor: pointer">
                                <p class="mt-1" style="text-align: center;"></p>
                            </div>
                            <div class="col-lg-2" style=" border-bottom: 2px solid lightgrey;  height: 40px; ">
                                <p class="mt-1" style="text-align: center;"></p>
                            </div>

                        </div>

                        <div class="row">
                            <div style="border: 2px solid lightgrey; border-top: none; height: auto;min-height: 600px">
                                <table class="table table-bordered mt-2">
                                    <thead>
                                    <tr>
                                        <th>유저번호</th>
                                        <th>유저이메일</th>
                                        <th>닉네임</th>
                                        <th>등록일</th>
                                        <th>수정 & 삭제</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="data:${userDTOS}">
                                        <td th:text="${data.id}">1</td>
                                        <td th:text="${data.email}" >test@gmail.com</td>
                                        <td th:text="${data.nickname}">test</td>
                                        <td th:text="${#temporals.format(data.regDate, 'yyyy-MM-dd HH:mm:ss')}">2023-09-05</td>
                                        <td>
                                            <button type="button" class="btn btn-dark">수정</button>
                                            <button type="button" class="btn btn-danger">삭제</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-6" style="text-align: center">
                                        <div class="custom-pagination py-4" th:if="${lastPage>0}"><!-- Paging -->
                                            <!--시작 페이지-->
                                            <div class="start" th:unless="${startPage==1}">
                                                <a th:href="@{/admin_user_list(page=1)}">
                                                    <<
                                                </a>
                                            </div>
                                            <!--이전 페이지-->
                                            <div class="prev" th:unless="${currentPage==1}">
                                                <a th:href="@{admin_user_list(page=${prevPage})}">
                                                    <
                                                </a>
                                            </div>
                                            <span th:each="page:${#numbers.sequence(startPage, endPage)}">
                                            <!--현재페이지 아닐시-->
                                            <div th:unless="${page==currentPage}">
                                                <a th:href="@{/admin_user_list(page=${page})}">
                                                    [[${page}]]
                                                </a>
                                            </div>
                                                <!--현재 페이지-->
                                            <div class="active" th:if="${page==currentPage}">
                                                [[${page}]]
                                            </div>
                                        </span>
                                            <!--다음페이지-->
                                            <div class="next" th:unless="${currentPage==lastPage}">
                                                <a th:href="@{/admin_user_list(page=${nextPage})}">
                                                    >
                                                </a>
                                            </div>
                                            <!--마지막 페이지-->
                                            <div class="last" th:unless="${endPage==lastPage}">
                                                <a th:href="@{/admin_user_list(page=${lastPage})}">
                                                    >>
                                                </a>
                                            </div>
                                        </div><!-- End Paging -->
                                    </div>
                                    <div class="col-lg-3"></div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>