<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <div class="container mt-3">
                            <h2>운동기구 목록</h2> <!--제목-->
                            <hr>
                            <div class="row"> <!--공간 시작-->
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="card text-center"  th:onclick="|location.href='@{/machine_info_detail(id=${foamRoller.id})}'|" style="width:300px;cursor:pointer;">
                                            <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}/${foamRoller.img}|">
                                            <div class="card-body">
                                                <h4 class="card-title" th:text="${foamRoller.name}">John Doe</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="card text-center" th:onclick="|location.href='@{/machine_info_detail(id=${dumbBell.id})}'|" style="width:300px;cursor:pointer;">
                                            <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}/${dumbBell.img}|">
                                            <div class="card-body">
                                                <h4 class="card-title" th:text="${dumbBell.name}">John Doe</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="card text-center" th:onclick="|location.href='@{/machine_info_detail(id=${kettleBell.id})}'|" style="width:300px;cursor:pointer;">
                                            <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}/${kettleBell.img}|">
                                            <div class="card-body">
                                                <h4 class="card-title" th:text="${kettleBell.name}">John Doe</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!--공간 끝-->
                            <br>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="card text-center" th:onclick="|location.href='@{/machine_info_detail(id=${babel.id})}'|" style="width:300px;cursor:pointer;">
                                            <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}/${babel.img}|">
                                            <div class="card-body">
                                                <h4 class="card-title" th:text="${babel.name}">John Doe</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="card text-center" th:onclick="|location.href='@{/machine_info_detail(id=${shoulderPress.id})}'|" style="width:300px;cursor:pointer;">
                                            <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}/${shoulderPress.img}|">
                                            <div class="card-body">
                                                <h4 class="card-title" th:text="${shoulderPress.name}">John Doe</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4"> <!--페이징 넣을 공간-->

                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi_calc}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_calc}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_calc}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>