<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8"> <!-- 작업공간 -->
                        <div class="container mt-3">
                            <h2>운동기구 전체목록</h2> <!--제목-->
                            <hr>
                            <div class="row" th:each="data:${machineInfoDTOS}"> <!--공간 시작-->
                                <div class="col-lg-3 text-center">
                                    <img th:src="|/gymsup/@{${data.img}}|" width="200" height="200">
                                    <div class="mt-3">
                                        <button class="btn btn-primary" type="button"
                                        th:onclick="|location.href='@{/machine_modify(id=${data.id})}'|">수정</button>
                                    </div>
                                </div>
                            </div> <!--공간 끝-->
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4"> <!--페이징 넣을 공간-->

                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/calorie_exercise_list}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/calorie_food_list}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>