<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <div class="container mt-3">
                            <div class="row" style="border-bottom: 2px solid black">
                                <h2>운동기구 사용방법</h2>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-12">
                                    <p style="font-size: 26px; margin-bottom: 0px;" th:text="${machineUsageDTO.title}">제목</p>
                                </div>
                            </div>

                            <div class="row mb-3 text-start"
                                 style="border-bottom: 1px solid black; border-top: 1px solid black; height: 45px; background-color: #f2f2f2">

                            </div>

                            <div class="row mt-3">
                                <iframe width="800" height="500" th:src="${machineUsageDTO.url}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                            <div class="mt-3">
                                <span th:text="${machineUsageDTO.content}"></span>
                            </div>
                        </div>
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi_calc}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_calc}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_calc}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>