<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <div class="container mt-3">
                            <h2>운동기구 검색하기</h2>
                            <hr>
                            <div class="container mt-3">
                                <form th:action="@{/machine_detect}" method="post"
                                      id="detectForm"
                                      enctype="multipart/form-data">
                                    <div class="mb-3 mt-3">
                                        <label for="detectImg">※운동기구 이미지만 가능합니다!!</label>
                                        <input type="file" class="form-control" id="detectImg" name="detectImg">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">운동기구 이미지 검색하기</button>
                                    </div>
                                </form>
                            </div>
                            <hr><br><br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h4 class="text-center">등록되어 있지 않은 기구입니다.</h4>
                                    </div>
                                    <div class="col-lg-4 text-end">
                                        <button class="btn btn-dark" type="button"
                                                th:onclick="|location.href='@{/machine_about}'|">다양한 운동법 영상 보기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi_calc}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_calc}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_calc}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>