<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <div class="container mt-3">
                            <h2>운동기구 검색하기</h2>
                            <hr>
                            <div class="container mt-3">
                                <form th:action="@{/machine_detect}" method="post"
                                      enctype="multipart/form-data">
                                    <div class="mb-3 mt-3">
                                        <label for="img">※운동기구 이미지만 가능합니다!!</label>
                                        <input type="file" class="form-control" id="img" name="imgFile">
                                    </div>
                                    <div class="text-center">
                                        <!--<img src="#" alt="#">-->
                                        <button type="submit" class="btn btn-primary">운동기구 이미지 검색하기</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/calorie_exercise_list}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/calorie_food_list}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>