<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <form th:action="@{/machine_info_modify}" method="post" enctype="multipart/form-data"
                        th:object="${machineInfoDTO}">
                            <input type="hidden" name="id" th:field="*{id}">
                            <div class="mb-3 mt-3">
                                <label for="name" class="form-label">이름:</label>
                                <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
                            </div>
                            <div class="mb-3">
                                <label for="content" class="form-label">내용:</label>
                                <textarea name="content" id="content" class="form-control" rows="10" th:field="*{content}"></textarea>
                            </div>
                            <div class="mb-3">
                                <input type="hidden" name="img" th:field="*{img}">
                                <label for="img" class="form-label">사진: </label>
                                <input class="form-control" type="file" id="img" name="imgFile">
                            </div>
                            <input type="hidden" th:field="*{result}" name="result">
                            <button type="submit" class="btn btn-primary">등록</button>
                        </form>
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi_calc}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_calc}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_calc}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>