<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h2>
                                        운동기구 사용방법
                                        <span sec:authorize="hasRole('ADMIN')">
                                        <button class="btn btn-outline-dark" type="button"
                                                th:onclick="|location.href='@{/machine_info_modify(id=${machineInfoDTO.id})}'|">수정</button>
                                        </span>
                                    </h2>
                                </div>
                                <div class="col-lg-3" style="text-align: right">
                                    <button class="btn btn-dark" type="button" th:onclick="|location.href='@{/machine_about}'|">돌아가기</button>
                                </div>
                            </div>

                            <hr>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <!--
                                        <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}/${machineInfoDTO.img}|" width="330" height="330">
                                        -->
                                        <img th:src="|/images/@{${machineInfoDTO.img}}|" width="330" height="330">
                                    </div>
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-5">
                                        <h3>이 기구는 <span th:text="${machineInfoDTO.name}">OO</span>입니다.</h3>
                                        <p th:text="${machineInfoDTO.content}" style="height: auto; white-space:pre-wrap;">운동기구에 대한 간략한 설명</p>
                                    </div>
                                </div>
                                <div class="container mt-3">
                                    <h4>사용 설명을 위한 유튜브
                                        <span sec:authorize="hasRole('ADMIN')">
                                            <button type="button" class="btn btn-outline-dark"
                                            th:onclick="|location.href='@{/machine_usage_register}'|">등록</button>
                                        </span>
                                    </h4>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th style="width: 10%">종류</th>
                                            <th style="width: 30%;">썸네일</th>
                                            <th style="width: 30%;">제목</th>
                                            <th style="width: 10%;">조회수</th>
                                            <th style="width: 20%;" sec:authorize="hasRole('ADMIN')">수정&삭제</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="data:${machineUsageDTOS}">
                                            <td>
                                                <span class="badge bg-dark" th:if="${data.machineInfoId}==1">폼롤러</span>
                                                <span class="badge bg-dark" th:if="${data.machineInfoId}==2">덤벨</span>
                                                <span class="badge bg-dark" th:if="${data.machineInfoId}==3">케틀벨</span>
                                                <span class="badge bg-dark" th:if="${data.machineInfoId}==4">바벨</span>
                                                <span class="badge bg-dark" th:if="${data.machineInfoId}==5">숄더프레스</span>
                                            </td>
                                            <td>
                                                <a th:href="@{/machine_usage_detail(id=${data.id}, infoId=${data.machineInfoId})}">
                                                    <!--
                                                    <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}/${data.thumbnail}|" alt="" height="125px" width="210px">
                                                    -->
                                                    <img th:src="|/images/@{${data.thumbnail}}|" alt="" height="125px" width="210px">
                                                </a>
                                            </td>
                                            <td><a th:href="@{/machine_usage_detail(id=${data.id}, infoId=${data.machineInfoId})}"  th:text="${data.title}"></a></td>
                                            <td th:text="${data.viewCnt}">john@example.com</td>
                                            <td sec:authorize="hasRole('ADMIN')">
                                                <button class="btn btn-dark" type="button" th:onclick="|location.href='@{/machine_usage_modify(id=${data.id})}'|">수정</button>
                                                <button class="btn btn-danger" type="button" th:onclick="|location.href='@{/machine_usage_delete(uid=${data.id}, id=${machineInfoDTO.id})}'|">삭제</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi_calc}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_calc}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_calc}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center">
                    <div class="custom-pagination py-4" th:if="${lastPage>0}"><!-- Paging -->
                        <!--시작 페이지-->
                        <div class="start" th:unless="${startPage==1}">
                            <a th:href="@{/machine_info_detail(page=1)}">
                                <<
                            </a>
                        </div>
                        <!--이전 페이지-->
                        <div class="prev" th:unless="${currentPage==1}">
                            <a th:href="@{/machine_info_detail(page=${prevPage}, id=${machineInfoDTO.id})}">
                                <
                            </a>
                        </div>
                        <span th:each="page:${#numbers.sequence(startPage, endPage)}">
                                            <!--현재페이지 아닐시-->
                                            <div th:unless="${page==currentPage}">
                                                <a th:href="@{/machine_info_detail(page=${page},id=${machineInfoDTO.id})}">
                                                    [[${page}]]
                                                </a>
                                            </div>
                            <!--현재 페이지-->
                                            <div class="active" th:if="${page==currentPage}">
                                                [[${page}]]
                                            </div>
                                        </span>
                        <!--다음페이지-->
                        <div class="next" th:unless="${currentPage==lastPage}">
                            <a th:href="@{/machine_info_detail(page=${nextPage}, id=${machineInfoDTO.id})}">
                                >
                            </a>
                        </div>
                        <!--마지막 페이지-->
                        <div class="last" th:unless="${endPage==lastPage}">
                            <a th:href="@{/machine_info_detail(page=${lastPage}, id=${machineInfoDTO.id})}">
                                >>
                            </a>
                        </div>
                    </div><!-- End Paging -->
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>