<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <div class="container mt-3">
                            <h2>
                                운동기구 사용방법
                                <span>
                                    <button class="btn btn-outline-dark" type="button"
                                            th:onclick="|location.href='@{/machine_modify(id=${machineInfoDTO.id})}'|">수정</button>
                                </span>
                            </h2>
                            <hr>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img th:src="|/gymsup/@{${machineInfoDTO.img}}|" width="330" height="330">
                                    </div>
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-5">
                                        <h3>이 기구는 <span th:text="${machineInfoDTO.name}">OO</span>입니다.</h3>
                                        <p th:text="${machineInfoDTO.content}">운동기구에 대한 간략한 설명</p>
                                    </div>
                                </div>
                                <div class="container mt-3">
                                    <h4>사용 설명을 위한 유튜브 </h4>
                                    <table class="table">
                                        <thead>
                                        <tr class="text-center">
                                            <th>썸네일</th>
                                            <th>제목</th>
                                            <th>조회수</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="data:${machineUsageDTOS}">
                                            <td><img th:src="|/images/${data.thumbnail}|" alt="" height="125px" width="210px"></td>
                                            <td th:text="${data.title}"><a th:href="@{/machine_detail}">제목 들어갈 공간</a></td>
                                            <td th:text="${data.viewCnt}">조회수 나올 공간</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/calorie_exercise_list}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/calorie_food_list}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>