<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8"> <!-- 작업공간 -->

                        <form th:action="@{/machine_info_register}" method="post" enctype="multipart/form-data">
                            <div class="mb-3 mt-3">
                                <label for="name" class="form-label">이름:</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="content" class="form-label">내용:</label>
                                <textarea name="content" id="content" class="form-control" rows="10"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="imgFile" class="form-label">사진:</label>
                                <input class="form-control" type="file" id="imgFile" name="imgFile">
                            </div>
                            <div class="mb-3">
                                <label for="result" class="form-label">클래스값:</label>
                                <input class="form-control" type="text" id="result" name="result">
                            </div>
                            <button type="submit" class="btn btn-primary">등록</button>
                        </form>

                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/calorie_exercise_list}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/calorie_food_list}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>