<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <div class="container mt-3"> <!-- 전체목록 -->
                            <h2>전체 게시판</h2>
                            <!--                            <div class="mt-3 mb-3 text-end"> &lt;!&ndash; 글쓰기 &ndash;&gt;
                                                            <button type="button" class="btn btn-primary"
                                                                    th:onclick="|location.href='@{/board_diary_register}'|">글쓰기</button>
                                                        </div>  End 글쓰기-->
                            <table class="table table-hover">
                                <thead>
                                <tr style="text-align: center">
                                    <th style="width: 20%">게시판</th>
                                    <th style="width: 35%">제목</th>
                                    <th style="width: 20%">작성자</th>
                                    <th style="width: 10%">조회수</th>
                                    <th style="width: 15%">작성일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data:${notiBoardLatestDTOS}">
                                    <td>공지사항</td>
                                    <td class="align-text-top">
                                        <a class="d-inline-block text-truncate" th:href="@{/board_notify_detail(id=${data.id})}" th:text="${data.title}" style="max-width: 180px;"></a>&nbsp;&nbsp;
                                        <span class="d-inline-block text-truncate" style=" color: #ff4930" th:text="${data.commentCount}">9</span>
                                    </td>
                                    <td style="text-align: center" th:text="${data.userNickname}">Jinny</td>
                                    <td style="text-align: center" th:text="${data.viewCnt}">100</td>
                                    <td style="text-align: center" th:text="${#temporals.format(data.regDate, 'yyyy-MM-dd')}">2023.11.17</td>
                                </tr>
                                <tr th:each="data:${boardDTOS}">
                                    <td th:text="${data.getCategoryType().getDescription()}">[운동+식단 일기]</td>
                                    <td class="align-text-top">
                                        <a class="d-inline-block text-truncate"
                                           th:href="@{/board_detail(id=${data.id}, categoryType=${data.getCategoryType().name()})}"
                                           th:text="${data.title}" style="max-width: 180px;"></a>&nbsp;&nbsp;
                                        <span class="d-inline-block text-truncate" style=" color: #ff4930" th:text="${data.commentCount}">9</span>
                                    </td>
                                    <td style="text-align: center" th:text="${data.userNickname}">Jinny</td>
                                    <td style="text-align: center" th:text="${data.viewCnt}">100</td>
                                    <td style="text-align: center" th:text="${#temporals.format(data.regDate, 'yyyy-MM-dd')}">2023.11.17</td>
                                </tr>
                                </tbody>
                            </table>
                        </div> <!-- End 전체목록 -->
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-center">
                                <div class="custom-pagination py-4" th:if="${lastPage>0}"> <!-- Paging -->
                                    <!--시작 페이지-->
                                    <div class="start" th:unless="${startPage==1}">
                                        <a th:href="@{/board_list(page=1)}">
                                            <<
                                        </a>
                                    </div>
                                    <!--이전 페이지-->
                                    <div class="prev" th:unless="${currentPage==1}">
                                        <a th:href="@{/board_list(page=${prevPage})}">
                                            <
                                        </a>
                                    </div>
                                    <span th:each="page:${#numbers.sequence(startPage, endPage)}">
                                            <!--현재페이지 아닐시-->
                                            <div th:unless="${page==currentPage}">
                                                <a th:href="@{/board_list(page=${page})}">
                                                    [[${page}]]
                                                </a>
                                            </div>
                                        <!--현재 페이지-->
                                            <div class="active" th:if="${page==currentPage}">
                                                [[${page}]]
                                            </div>
                                    </span>
                                    <!--다음페이지-->
                                    <div class="next" th:unless="${currentPage==lastPage}">
                                        <a th:href="@{/board_list(page=${nextPage})}">
                                            >
                                        </a>
                                    </div>
                                    <!--마지막 페이지-->
                                    <div class="last" th:unless="${endPage==lastPage}">
                                        <a th:href="@{/board_list(page=${lastPage})}">
                                            >>
                                        </a>
                                    </div>
                                </div> <!-- End Paging -->
                            </div>
                        </div>
                    </div><!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_calc}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_calc}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>