<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7"> <!-- 작업공간 -->
                        <div class="container mt-3"> <!-- 전체목록 -->
                            <h3 class="text-center">전체 게시판</h3>
<!--                            <div class="mt-3 mb-3 text-end"> &lt;!&ndash; 글쓰기 &ndash;&gt;
                                <button type="button" class="btn btn-primary"
                                        th:onclick="|location.href='@{/board_diary_register}'|">글쓰기</button>
                            </div>  End 글쓰기-->
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>게시판</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>조회수</th>
                                    <th>작성일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data:${boardDTOS}">
                                    <td>[운동+식단 일기]</td>
                                    <td><a th:href="@{/board_diary_detail(id=${data.id})}" th:text="${data.title}">11월 17일 운동</a></td>
                                    <td th:text="${data.userNickname}">Jinny</td>
                                    <td th:text="${data.viewCnt}">100</td>
                                    <td th:text="${#temporals.format(data.regDate, 'yyyy-MM-dd')}">2023.11.17</td>
                                </tr>
                                </tbody>
                            </table>
                        </div> <!-- End 전체목록 -->
                        <ul class="pagination justify-content-center" th:if="${lastPage>0}"> <!-- 페이지 -->
                            <!-- startPage가 1번 페이지가 아니면 나타낸다. -->
                            <li class="page-item" th:unless="${startPage==1}"> <!-- 첫페이지 이동 -->
                                <a class="page-link" th:href="@{/board_diary_list(page=1)}">첫페이지</a>
                            </li>

                            <!-- startPage가 1번 페이지가 아니면 나타낸다. -->
                            <li class="page-item" th:unless="${currentPage==1}"> <!-- 이전페이지 이동 -->
                                <a class="page-link" th:href="@{/board_diary_list(page=${prevPage})}">이전페이지</a>
                            </li>

                            <span th:each="page:${#numbers.sequence(startPage, endPage)}">
                                <li class="page-item" th:unless="${page==currentPage}"> <!-- 현재페이지가 아니면 -->
                                    <a class="page-link" th:href="@{/board_diary_list(page=${page})}">[[${page}]]</a>
                                </li>
                                <li class="page-item active" th:if="${page==currentPage}"> <!-- 현재페이지이면 -->
                                    <a class="page-link" href="#">[[${page}]]</a>
                                </li>
                            </span>

                            <li class="page-item" th:unless="${currentPage==lastPage}"> <!-- 다음페이지 이동 -->
                                <a class="page-link" th:href="@{/board_diary_list(page=${nextPage})}">다음페이지</a>
                            </li>

                            <li class="page-item" th:unless="${endPage==lastPage}"> <!-- 끝페이지 이동 -->
                                <a class="page-link" th:href="@{/board_diary_list(page=${lastPage})}">끝페이지</a>
                            </li>
                        </ul> <!-- End 페이지 -->
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_calc}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_calc}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>