<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <div class="row mb-5" style="border-bottom: 3px solid black;">
                            <h2>나의 BMI 지수 확인하기</h2>
                        </div>
                        <form th:action="@{/mybmi_calc}" method="post">
                            <!-- 신장 입력 -->
                            <hr>
                            <div class="form-group row">
                                <label for="height" class="col-sm-1 text-sm-right">신장 (cm)</label>
                                <div class="col-sm-5">
                                    <input type="number" id="height" name="height" class="form-control">
                                </div>
                            </div>
                            <hr>

                            <!-- 체중 입력 -->
                            <div class="form-group row">
                                <label for="weight" class="col-sm-1 text-sm-right">체중 (kg)</label>
                                <div class="col-sm-5">
                                    <input type="number" id="weight" name="weight" class="form-control">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row"> <!-- BMI 지수 계산 자바스크립트 호출 -->
                                <div class="col-sm-6 text-center">
                                    <button type="submit" class="btn btn-primary">확인</button>
                                    <button type="reset" class="btn btn-secondary">다시입력</button>
                                </div>
                            </div>
                            <hr>
                        </form>
                        <p/><p/>
                        <p style="font-size: small">
                            <strong>체질량지수(BMI) 측정이란?</strong><br>
                            체질량지수는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈 값으로 비만을 판정하는 비만 지수입니다.<br>
                            체질량지수는 근육량, 유전적 원인, 다른 개인적 차이를 반영하지 못하는 단점이 있음에도 불구하고
                            조사자들이나 의료인들이 가장 많이 쓰는 방법 중 하나입니다.
                        </p>
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi_calc}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_calc}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_calc}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>