<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>GYMsup</title>
</head>
<body>

<script th:inline="javascript">
    window.onload = function (){
        var nextPage = "[[${nextPage}]]";
        var msg = "[[${msg}]]"
        if (nextPage) {
            location.href = "[[@{/}]]"
            alert(msg)
        }else {
            alert(msg)
        }
    }

</script>

</body>
</html>