<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/loginlayout}">
<body>
<div layout:fragment="content">
    <section>

        <div class="signin">

            <div class="content">

                <h2>로그인</h2>
                <form action="/user_login" method="post">
                    <div class="form">

                        <div class="inputBox">

                            <input type="text" name="email" required> <i>이메일</i>

                        </div>

                        <div class="inputBox">

                            <input type="password" name="password" required> <i>비밀번호</i>

                        </div>

                        <div class="links"> <a th:href="@{/password_change}">비밀번호 재설정</a> <a href="/user_join">회원가입</a>

                        </div>

                        <div class="inputBox">

                            <input type="submit" value="로그인">

                        </div>
                        <div class="snsloginbutton">
                        <!--<img src="/assets/img/kakaologin2.png" alt="" th:onclick="|location.href='@{/oauth2/authorization/kakao}'|"
                             style="cursor: pointer">-->
                        <img class="mb-3" src="/assets/img/Gbtn.png" style="cursor: pointer" th:onclick="|location.href='@{/oauth2/authorization/google}'|">
                            <br>
                        <img class="mb-3" src="/assets/img/Nbtn.png" style="cursor: pointer" th:onclick="|location.href='@{/oauth2/authorization/naver}'|">
                            <br>
                        <img src="/assets/img/Kbtn.png" style="cursor: pointer" th:onclick="|location.href='@{/oauth2/authorization/kakao}'|">
                        <!--<a class="btn btn-google" th:href="@{/oauth2/authorization/google}"></a>
                        <a class="btn btn-naver" th:href="@{/oauth2/authorization/naver}">Naver Login</a>
                        <a class="btn btn-kakao" th:href="@{/oauth2/authorization/kakao}">Kakao Login</a>-->


                            <!--모달 시작-->

                            <!--모달 끝-->


                        </div>
                    </div>
                </form>

            </div>

        </div>

    </section> <!-- partial -->
</div>
</body>
</html>