<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8"> <!-- 작업공간 -->

                        <div class="row mb-5" style="border-bottom: 3px solid black;">
                            <h2>마이페이지</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer"
                                 onclick="location.href='/user_detail'">
                                <p class="mt-1" style="text-align: center;">내 정보수정</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer "
                                 onclick="location.href='/bookmark_list'">
                                <p class="mt-1" style="text-align: center;">북마크</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer "
                                 onclick="location.href='/user_mywrite'">
                                <p class="mt-1" style="text-align: center;">내 게시물</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-bottom: none ;height: 40px;">
                                <p class="mt-1" style="text-align: center;">내 댓글</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-left: none; height: 40px; background-color: #f2f2f2; cursor: pointer"
                                 onclick="location.href='/user_contact'">
                                <p class="mt-1" style="text-align: center;">내 문의</p>
                            </div>
                            <div class="col-lg-2" style=" border-bottom: 2px solid lightgrey;  height: 40px; ">
                                <p class="mt-1" style="text-align: center;"></p>
                            </div>

                        </div>

                        <div class="row">
                            <div style="border: 2px solid lightgrey; border-top: none; height: auto;min-height: 600px">

                                <div class="mt-2">

                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width: auto; max-width: 20%">카테고리</th>
                                            <th>제목</th>
                                            <th style="width: auto; max-width: 10%">조회수</th>
                                            <th style="width: auto; max-width: 10%">등록일</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="data:${commentDTOS}">
                                            <td th:text="${data.boardCategoryType.getDescription()}">John</td>
                                            <td>
                                                <a th:href="@{/board_detail(id=${data.boardId}, categoryType=${data.boardCategoryType})}"
                                                   th:text="${data.boardTitle}"></a>
                                            </td>
                                            <td th:text="${data.boardViewCnt}">John</td>
                                            <td th:text="${#temporals.format(data.boardRegDate, 'yyyy-MM-dd')}">John</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-6" style="text-align: center">
                                            <div class="custom-pagination py-4" th:if="${lastPage>0}"><!-- Paging -->
                                                <!--시작 페이지-->
                                                <div class="start" th:unless="${startPage==1}">
                                                    <a th:href="@{/user_mycomment(page=1)}">
                                                        <<
                                                    </a>
                                                </div>
                                                <!--이전 페이지-->
                                                <div class="prev" th:unless="${currentPage==1}">
                                                    <a th:href="@{user_mycomment(page=${prevPage})}">
                                                        <
                                                    </a>
                                                </div>
                                                <span th:each="page:${#numbers.sequence(startPage, endPage)}">
                                            <!--현재페이지 아닐시-->
                                            <div th:unless="${page==currentPage}">
                                                <a th:href="@{/user_mycomment(page=${page})}">
                                                    [[${page}]]
                                                </a>
                                            </div>
                                                    <!--현재 페이지-->
                                            <div class="active" th:if="${page==currentPage}">
                                                [[${page}]]
                                            </div>
                                        </span>
                                                <!--다음페이지-->
                                                <div class="next" th:unless="${currentPage==lastPage}">
                                                    <a th:href="@{/user_mycomment(page=${nextPage})}">
                                                        >
                                                    </a>
                                                </div>
                                                <!--마지막 페이지-->
                                                <div class="last" th:unless="${endPage==lastPage}">
                                                    <a th:href="@{/user_mycomment(page=${lastPage})}">
                                                        >>
                                                    </a>
                                                </div>
                                            </div><!-- End Paging -->
                                        </div>
                                        <div class="col-lg-3"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>