<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8"> <!-- 작업공간 -->


                        <div class="row">
                            <div style="border: 2px solid lightgrey; height: auto;min-height: 200px">
                                <h2 class="mt-4">비밀번호 확인</h2>
                                <form th:action="@{/user_password_confirm}" method="post">
                                    <label class="form-label" for="apassword">현재 비밀번호:</label>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <input type="password" class="form-control" id="apassword" name="apassword">
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="submit" class="btn btn-dark">확인</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>