<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="header" th:fragment="header">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="/assets/img/gymsup-logo.png" alt="">
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li class="dropdown"><a href="#"><span>운동기구 사용법</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a th:href="@{machine_detect}">운동기구 검색하기</a></li>
                            <li><a th:href="@{machine_about}">운동기구 전체목록</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>게시판</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a th:href="@{/board_list}">전체</a></li>
                            <li><a th:href="@{/board_notify_list}">공지사항</a></li>
                            <li><a th:href="@{/board_tip_list}">운동 팁</a></li>
                            <li><a th:href="@{/board_diary_list}">운동+식단 일기</a></li>
                            <li><a th:href="@{/board_qna_list}">고민나눔</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a th:href="@{/gyminfo_about}"><span>GYM 소개</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a th:href="@{/gyminfo_about#scrolls1}">강사소개</a>
                            </li>
                            <li>
                                <a th:href="@{/gyminfo_about#scrolls2}">프로그램</a>
                            </li>
                            <li>
                                <a th:href="@{/gyminfo_about#scrolls3}">내부시설</a>
                            </li>
                            <li>
                                <a th:href="@{/gyminfo_about#scrolls4}">오시는 길</a>
                            </li>
                            <li>
                                <a th:href="@{/contact_register}">문의남기기</a>
                            </li>
                        </ul>
                    </li>
                    <li><a th:href="@{/contact_register}">문의하기</a></li>
                </ul>
            </nav><!-- .navbar -->

            <div class="position-relative">
                <a th:href="@{/admin_detail}" sec:authorize="hasRole('ADMIN')">관리자 페이지</a>&nbsp;&nbsp;&nbsp;
                <a th:href="@{/user_detail}" sec:authorize="hasRole('USER')">마이 페이지</a>&nbsp;&nbsp;&nbsp;
                <a th:href="@{/user_login}" sec:authorize="isAnonymous()">로그인</a>
                <a th:href="@{/user_logout}" sec:authorize="isAuthenticated()">로그아웃</a>
            </div>
        </div>
    </header><!-- End Header -->
</div>
</html>