<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8"> <!-- 작업공간 -->

                        <div class="row mb-5" style="border-bottom: 3px solid black;">
                            <h2>관리자페이지</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer"
                                 th:onclick="|location.href='@{/admin_detail}'|">
                                <p class="mt-1" style="text-align: center;">내 정보수정</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer"
                                 th:onclick="|location.href='@{/admin_notify_list}'|">
                                <p class="mt-1" style="text-align: center;">회원관리</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer"
                                 th:onclick="|location.href='@{/admin_contact}'|">
                                <p class="mt-1" style="text-align: center;">문의내역</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer"
                                 th:onclick="|location.href='@{/admin_machine_list}'|">
                                <p class="mt-1" style="text-align: center;">운동 기구 관리</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-bottom: none ;height: 40px;"
                                 th:onclick="|location.href='@{/admin_notify_list}'|">
                                <p class="mt-1" style="text-align: center;">공지사항</p>
                            </div>
                            <div class="col-lg-2" style=" border-bottom: 2px solid lightgrey;  height: 40px; ">
                                <p class="mt-1" style="text-align: center;"></p>
                            </div>

                        </div>

                        <div class="row">
                            <div style="border: 2px solid lightgrey; border-top: none; height: auto;min-height: 550px">
                               <div class="mt-4">
                                   <form th:action="@{/admin_notify_register}" method="post"
                                         enctype="multipart/form-data" th:object="${boardDTO}"> <!-- 가입폼 -->
                                       <h3 class="text-center" th:text="*{getCategoryType().getDescription()}+'등록'"></h3>
                                       <div class="mb-3 mt-3">
                                           <label for="title" class="form-label">제목:</label>
                                           <input type="text" class="form-control" id="title" name="title" th:field="*{title}">
                                           <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                                       </div>
                                       <div class="mb-3">
                                           <label for="content">내용:</label>
                                           <textarea class="form-control" rows="5" id="content" name="content"
                                                     th:field="*{content}"></textarea>
                                       </div>
                                       <div class="mb-3">
                                           <label for="img1" class="form-label">사진1:</label>
                                           <input type="file" class="form-control" id="img1" name="imgFiles">
                                           <label for="img2" class="form-label">사진2:</label>
                                           <input type="file" class="form-control" id="img2" name="imgFiles">
                                       </div>
                                       <input type="hidden" name="categoryType" th:field="*{categoryType}">
                                       <input type="hidden" name="userId" value="33">
                                       <input type="hidden" name="viewCnt" value="0">
                                       <input type="hidden" name="goodCnt" value="0">
                                       <button type="submit" class="btn btn-primary">등록</button>
                                       <button type="button" class="btn btn-danger"
                                               th:onclick="|location.href='@{/admin_notify_list}'|">취소</button>
                                   </form> <!-- End 가입폼 -->
                               </div>
                            </div>
                        </div>

                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>