<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <section id="posts" class="posts">
            <div class="container">
                <div class="row g-5">
                    <div class="col-md-1"></div>
                    <div class="col-md-3"> <!-- 작업공간 1 -->
                        <div class="post-entry-1 lg">
                            <div class="card mb-5"> <!-- 로그인 -->
                                <div class="card-body" style="text-align: center">
                                    <h3 style="margin-bottom: 10px" sec:authorize="isAnonymous()">로그인</h3>
                                    <h3 style="margin-bottom: 10px" sec:authorize="isAuthenticated()"><span th:text="${userEntity.nickname}"></span>님 환영합니다</h3>
                                    <div>
                                        <button class="btn btn-dark" type="button" style="height: 50px; font-size: 15px"
                                                sec:authorize="isAnonymous()" th:onclick="|location.href='@{/user_login}'|">로그인 하러 가기</button>
                                        <button type="button" class="btn btn-primary" onclick="location.href='/user_detail'"
                                                sec:authorize="isAuthenticated()">마이페이지</button>
                                        <button type="button" class="btn btn-primary" onclick="location.href='/user_logout'"
                                                sec:authorize="isAuthenticated()">로그아웃</button>
                                    </div>
                                </div>
                            </div> <!-- End 로그인 -->
                            <div class="card mb-5"> <!-- 운동기구 사용법 링크 -->
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <a th:href="@{/machine_detect}"><img class="img-fluid" src="/assets/img/gymimg.png"></a>
                                    </div>
                                    <h3><a th:href="@{/machine_detect}">운동기구 사용법</a></h3>
                                </div>
                            </div> <!-- End 운동기구 사용법 링크 -->
                        </div>
                    </div> <!-- End 작업공간 1 -->
                    <div class="col-md-5"> <!-- 작업공간 2 -->
                        <div class="row g-5">
                            <!-- 운동팁 게시글 BEST2 -->
                            <div th:each="data:${tipBoardBestDTOS}" class="col-lg-6 border-start custom-border" >
                                <div class="post-entry-1">
                                    <div th:if="${#lists.isEmpty(data.imgFileList)}">
                                        <a th:href="@{/board_tip_detail(id=${data.id})}">
                                            <img src="/assets/img/post-landscape-3.jpg" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                    <div th:unless="${#lists.isEmpty(data.imgFileList)}">
                                        <a th:href="@{/board_tip_detail(id=${data.id})}">
                                            <img th:src="|images/@{${data.imgFileList[0]}}|" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="post-meta">
                                        <span class="date">운동팁</span>
                                        <span class="mx-1">&bullet;</span>
                                        <span th:text="${#temporals.format(data.regDate, 'yyyy-MM-dd HH:mm')}">작성일</span>
                                    </div>
                                    <h2>
                                        <a class="d-inline-block text-truncate"
                                           th:text="${data.title}"
                                           th:href="@{/board_tip_detail(id=${data.id})}" style="max-width: 230px;">인기글 제목</a>
                                        <span class="d-inline-block text-truncate" style=" color: #ff4930"></span>
                                    </h2>
                                </div>
                            </div> <!-- End 운동팁 게시글 BEST2 -->
                            <!-- 일기 게시글 BEST2 -->
                            <div th:each="data:${diaryBoardBestDTOS}" class="col-lg-6 border-start custom-border">
                                <div class="post-entry-1">
                                    <div th:if="${#lists.isEmpty(data.imgFileList)}">
                                        <a th:href="@{/board_diary_detail(id=${data.id})}">
                                            <img src="/assets/img/post-landscape-3.jpg" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                    <div th:unless="${#lists.isEmpty(data.imgFileList)}">
                                        <a th:href="@{/board_diary_detail(id=${data.id})}">
                                            <img th:src="|images/@{${data.imgFileList[0]}}|" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="post-meta">
                                        <span class="date">일기(자랑글)</span>
                                        <span class="mx-1">&bullet;</span>
                                        <span th:text="${#temporals.format(data.regDate, 'yyyy-MM-dd HH:mm')}">작성일</span>
                                    </div>
                                    <h2>
                                        <a class="d-inline-block text-truncate"
                                           th:text="${data.title}"
                                           th:href="@{/board_diary_detail(id=${data.id})}" style="max-width: 230px;">인기글 제목</a>
                                        <span class="d-inline-block text-truncate" style=" color: #ff4930"></span>
                                    </h2>
                                </div>
                            </div> <!-- End 운동 게시글 BEST2 -->
                        </div>
                    </div> <!-- End 작업공간 2 -->
                    <div class="col-md-2"> <!-- 작업공간 3 -->
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/calorie_exercise_list}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/calorie_food_list}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div> <!-- End 작업공간 3 -->
                    <div class="col-md-1"></div>
                </div>
            </div>
        </section>

        <!-- ======= Hero Slider Section ======= -->
        <!--
        <section id="hero-slider" class="hero-slider">
            <div class="container-md">
                <div class="row">
                    <div class="col-12">
                        <div class="swiper sliderFeaturedPosts">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a th:href="@{/gyminfo_about}" class="img-bg d-flex align-items-end" style="background-image: url('/assets/img/gym_img4.jpg');">
                                        <div class="img-bg-inner">
                                            <h2>헬스장 소개(프로그램, 내부시설)</h2>
                                            <p>헬스장 소개(프로그램, 내부시설) 내용</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a th:href="@{/gyminfo_about}" class="img-bg d-flex align-items-end" style="background-image: url('/assets/img/gym_img5.jpg');">
                                        <div class="img-bg-inner">
                                            <h2>헬스장 소개(프로그램, 내부시설)</h2>
                                            <p>헬스장 소개(프로그램, 내부시설) 내용</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a th:href="@{/gyminfo_about}" class="img-bg d-flex align-items-end" style="background-image: url('/assets/img/gym_img6.jpg');">
                                        <div class="img-bg-inner">
                                            <h2>헬스장 소개(프로그램, 내부시설)</h2>
                                            <p>헬스장 소개(프로그램, 내부시설) 내용</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a th:href="@{/gyminfo_about}" class="img-bg d-flex align-items-end" style="background-image: url('/assets/img/gym_img7.jpg');">
                                        <div class="img-bg-inner">
                                            <h2>헬스장 소개(프로그램, 내부시설)</h2>
                                            <p>헬스장 소개(프로그램, 내부시설) 내용</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="custom-swiper-button-next">
                                <span class="bi-chevron-right"></span>
                            </div>
                            <div class="custom-swiper-button-prev">
                                <span class="bi-chevron-left"></span>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section> --> <!-- End Hero Slider Section -->
    </main>
</div>
</body>
</html>