<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7"> <!-- 작업공간 -->
                        <div class="container mt-3 mb-5"> <!-- 상세보기폼 -->
                            <h3 class="text-center" th:text="${categoryType}">게시판 이름</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><h4 th:text="${boardDTO.title}">11월 17일 운동</h4></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td class="text-left"><a href="#" th:text="${boardDTO.userNickname}">Jinny</a></td>
                                                    <td class="text-end" th:text="${#temporals.format(boardDTO.regDate, 'yyyy-MM-dd')}">2023.11.17</td>
                                                    <td class="text-end" th:text="${boardDTO.viewCnt}">100</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td th:text="${boardDTO.content}" style="white-space:pre;">11월 17일 운동</td>
                                    </tr>
                                    <tr th:each="data:${boardDTO.imgFileList}">
                                        <td>
                                            <p th:text="${data}"></p>
                                            <img th:src="|/images/@{${data}}|" alt="상품 이미지" style="...">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mt-3 text-end"> <!-- 수정,삭제,목록 버튼 -->
                                <button type="button" class="btn btn-primary"
                                        th:onclick="|location.href='@{/board_diary_modify(id=${boardDTO.id})}'|">수정</button>
                                <button type="button" class="btn btn-secondary"
                                        th:onclick="|location.href='@{/board_diary_remove(id=${boardDTO.id})}'|">삭제</button>
                                <button type="button" class="btn btn-secondary"
                                        th:onclick="|location.href='@{/board_diary_list}'|">목록</button>
                            </div> <!-- End 수정,삭제,목록 버튼 -->
                        </div> <!-- End 상세보기폼 -->
                        <div class="card"> <!-- 댓글 등록 -->
                            <div class="card-body">
                                <form th:action="@{/comment_register}" method="post">
                                    <div class="mb-3">
                                        <lfabel for="comment">댓글쓰기:</lfabel>
                                        <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                                    </div>
                                    <div class="mt-3 text-end">
                                        <button type="submit" class="btn btn-primary">입력</button>
                                    </div>
                                    <!-- 댓글 등록 시 필요한 값들을 hidden으로 설정 -->
                                    <input type="hidden" name="boardId" th:value="${boardDTO.id}">
                                    <input type="hidden" name="userId" value="42">
                                    <input type="hidden" name="goodCnt" value="0">
                                    <input type="hidden" name="categoryType" th:value="${boardDTO.categoryType.name()}">
                                </form>
                            </div>
                        </div> <!-- End 댓글 등록 -->
                        <div class="card" th:each="data:${commentDTOS}"> <!-- 댓글 목록 -->
                            <table class="table table-borderless"> <!-- 댓글 상세 내용 -->
                                <tbody>
                                <tr>
                                    <td> <!-- 댓글 작성자의 닉네임, 댓글 수정시간 -->
                                        <span class="text-left" th:text="${data.userNickname}"></span>&nbsp;&nbsp;&nbsp;
                                        <span class="text-left" th:text="${#temporals.format(data.modDate, 'yyyy-MM-dd HH:mm')}"></span>
                                    </td>
                                    <td>
                                        <!-- 댓글 삭제 (bid:부모 게시글 id, id:삭제할 댓글 id) -->
                                        <button class="text-right" type="button"
                                                th:onclick="|location.href='@{/comment_remove(bid=${boardDTO.id}, id=${data.id})}'|">삭제</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left" th:text="${data.comment}"></td>
                                </tr>
                                </tbody>
                            </table> <!-- End 댓글 상세 내용 -->
                            <div class="card-body"> <!-- 답글 등록 -->
                                <form th:action="@{/reply_register}" method="post">
                                    <div class="mt-3 text-end">
                                        <button type="submit" class="btn btn-primary">답글등록</button>
                                    </div>
                                    <div class="mb-3">
                                        <lfabel for="reply">답글쓰기:</lfabel>
                                        <textarea class="form-control" rows="5" id="reply" name="reply"></textarea>
                                    </div>

                                    <!-- 답글 등록 시 필요한 값들을 hidden으로 설정 -->
                                    <input type="hidden" name="commentId" th:value="${data.id}">
                                    <input type="hidden" name="boardId" th:value="${boardDTO.id}">
                                    <input type="hidden" name="userId" value="52">
                                    <input type="hidden" name="goodCnt" value="0">
                                    <input type="hidden" name="categoryType" th:value="${boardDTO.categoryType.name()}">
                                </form>
                            </div> <!-- End 답글 등록 -->
                            <div class="card" th:each="replyDTO:${data.replyDTOList}"> <!-- 답글 목록 -->
                                <div class="card-header">
                                    <span class="text-left" th:text="${replyDTO.userNickname}"></span>&nbsp;&nbsp;&nbsp;
                                    <span class="text-left" th:text="${#temporals.format(replyDTO.modDate, 'yyyy-MM-dd HH:mm')}"></span>
                                    <!-- 답글 삭제 (bid:부모 게시글 id, id:삭제할 답글 id) -->
                                    <button class="text-right" type="button"
                                            th:onclick="|location.href='@{/reply_remove(bid=${boardDTO.id}, id=${replyDTO.id})}'|">답글삭제</button>
                                </div>
                                <div class="card-body">
                                    <span class="text-left" th:text="${replyDTO.reply}"></span>
                                </div>
                            </div> <!-- End 답글 목록 -->
                        </div> <!-- End 댓글 목록 -->
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_list}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_list}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>