<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <section id="search-result" class="search-result"> <!-- Search Results -->
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <div class="container mt-3"> <!-- 게시판 전체 목록 -->
                            <h2 th:text="${categoryType}">게시판 이름</h2>
                            <hr>
                            <table class="table table-hover">
                                <thead>
                                    <tr style="text-align: center">
                                        <th style="width: 20%">게시판</th>
                                        <th style="width: 35%">제목</th>
                                        <th style="width: 20%">작성자</th>
                                        <th style="width: 10%">조회수</th>
                                        <th style="width: 15%">작성일</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="data:${boardDTOS}">
                                        <td style="text-align: center"
                                            th:text="${data.getCategoryType().getDescription()}">게시판</td>
                                        <td class="align-text-top">
                                            <a class="d-inline-block text-truncate"
                                               style="max-width: 180px;"
                                               th:href="@{/board_diary_detail(id=${data.id})}" th:text="${data.title}">제목</a>&nbsp;&nbsp;
                                            <span class="d-inline-block text-truncate" style="color: #ff4930"
                                                  th:text="${data.commentCount}">9</span>
                                        </td>
                                        <td style="text-align: center" th:text="${data.userNickname}">이름</td>
                                        <td style="text-align: center" th:text="${data.viewCnt}">100</td>
                                        <td style="text-align: center" th:text="${#temporals.format(data.regDate, 'yyyy-MM-dd')}">2023.11.17</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 text-center">
                                    <!-- Paging -->
                                    <div class="custom-pagination py-4" th:if="${lastPage>0}">
                                        <!-- 첫페이지 이동 : startPage가 1번 페이지가 아니면 나타낸다. -->
                                        <div class="start" th:unless="${startPage==1}">
                                            <a th:href="@{/board_diary_list(page=1)}">
                                                <<
                                            </a>
                                        </div>

                                        <!-- 이전페이지 이동 : startPage가 1번 페이지가 아니면 나타낸다. -->
                                        <div class="prev" th:unless="${currentPage==1}">
                                            <a th:href="@{/board_diary_list(page=${prevPage})}">
                                                <
                                            </a>
                                        </div>

                                        <span th:each="page:${#numbers.sequence(startPage, endPage)}">
                                            <!-- 현재페이지가 아니면 -->
                                            <div th:unless="${page==currentPage}">
                                                <a th:href="@{/board_diary_list(page=${page})}">[[${page}]]</a>
                                            </div>
                                            <!-- 현재페이지이면 -->
                                            <div class="active" th:if="${page==currentPage}">
                                                [[${page}]]
                                            </div>
                                        </span>
                                        <!-- 다음페이지 이동 -->
                                        <div class="next" th:unless="${currentPage==lastPage}">
                                            <a th:href="@{/board_diary_list(page=${nextPage})}">
                                                >
                                            </a>
                                        </div>
                                        <!-- 마지막 페이지 이동 -->
                                        <div class="last" th:unless="${endPage==lastPage}">
                                            <a th:href="@{/board_diary_list(page=${lastPage})}">
                                                >>
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- End Paging -->
                                <div class="col-md-3"> <!-- 게시글 작성 버튼 -->
                                    <button type="button" class="btn btn-primary float-end btn-sm"
                                            th:onclick="|location.href='@{/board_diary_register}'|">글쓰기
                                    </button>
                                </div> <!-- End 게시글 작성 버튼 -->
                            </div> <!-- End Paging -->
                            <form class="d-flex justify-content-center"
                                  th:action="@{/board_diary_list}" method="get"> <!-- 검색 -->
                                <input type="hidden" name="page" value="1">
                                <!-- 검색 type -->
                                <select name="type" class="form-select form-select-sm" style="width: 100px; height: 31px;">
                                    <option value="t" th:selected="${type == 't'}">제목</option>
                                    <option value="c" th:selected="${type == 'c'}">내용</option>
                                    <option value="n" th:selected="${type == 'n'}">닉네임</option>
                                    <option value="tc" th:selected="${type == 'tc'}">제목+내용</option>
                                    <option value="tcn" th:selected="${type == 'tcn'}">제목+내용+닉네임</option>
                                </select>
                                <!-- 검색 keyword -->
                                <div class="ms-1">
                                    <input type="text" class="form-control form-control-sm"
                                           placeholder="찾을 내용을 입력하세요." name="keyword">
                                </div>
                                <div class="ms-1">
                                    <button type="submit" class="btn btn-dark btn-sm">검색</button>
                                </div>
                            </form> <!-- End 검색 -->
                        </div> <!-- End 게시판 전체 목록 -->
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_list}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_calc}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>