<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7"> <!-- 작업공간 -->
                        <form th:action="@{/board_diary_modify}" method="post"
                              enctype="multipart/form-data" th:object="${boardDTO}"> <!-- 수정폼 -->
                            <input type="hidden" name="id" th:field="*{id}">
                            <div class="mb-3 mt-3">
                                <label for="title" class="form-label">제목:</label>
                                <input type="text" class="form-control" id="title" name="title" th:field="*{title}">
                                <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                            </div>
                            <div class="mb-3">
                                <label for="content">내용:</label>
                                <textarea class="form-control" rows="5" id="content" name="content"
                                          th:field="*{content}"></textarea>
                            </div>
                            <div class="mb-3">
                                <div th:each="data:${boardDTO.imgFileList}">
                                    <img th:src="|/images/@{${data}}|" alt="상품 이미지" style="...">
                                </div>
                                <label for="img" class="form-label">사진:</label>
                                <input type="file" class="form-control" id="img" name="imgFile">
                            </div>

                            <input type="hidden" name="categoryId" th:field="*{categoryId}">
                            <input type="hidden" name="userId" th:field="*{userId}">
                            <input type="hidden" name="imgFileList" th:field="*{imgFileList}">
                            <input type="hidden" name="viewCnt" th:field="*{viewCnt}">
                            <input type="hidden" name="goodCnt" th:field="*{goodCnt}">

                            <div class="text-end">
                                <button type="submit" class="btn btn-primary">수정</button>
                                <button type="button" class="btn btn-secondary"
                                        th:onclick="|location.href='@{/board_diary_list}'|">취소</button>
                            </div>
                        </form> <!-- End 수정폼 -->
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_list}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_list}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>