<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <script type="text/javascript">
        $(document).ready(function (){
            $('#summernote').summernote({
                height: 300,        // 에디터 높이
                minHeight: null,    // 최소 높이
                maxHeight: null,    // 최대 높이
                focus: true,        // 에디터 로딩후 포커스를 맞출지 여부
                lang: "ko-KR",      // 한글 설정
                placeholder: '최대 2048자까지 쓸 수 있습니다',	//placeholder 설정
                callbacks: {
                    onImageUpload: function (files, editor, welEditable) {
                        // 파일 업로드(다중업로드를 위해 반복문 사용)
                        for (var i = files.length - 1; i >= 0; i--) {
                            uploadSummernoteImageFile(files[i], this);
                        }
                    }
                }
                /*                toolbar: [
                                    // [groupName, [list of button]]
                                    ['fontname', ['fontname']],
                                    ['fontsize', ['fontsize']],
                                    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                                    ['color', ['forecolor','color']],
                                    ['table', ['table']],
                                    ['para', ['ul', 'ol', 'paragraph']],
                                    ['height', ['height']],
                                    ['insert',['picture','link','video']],
                                    ['view', ['fullscreen', 'help']]
                                ],
                                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
                               fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']*/
            });
        });

        function uploadSummernoteImageFile(file, el) {
            var data = new FormData();
            data.append('imgFile', file);
            $.ajax ({
                data: data,
                type: "POST",
                url: '/board_image_upload',
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function(data) {
                    $(el).summernote('editor.insertImage', data.url);
                }
            });
        }

        </head>
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <form th:action="@{/board_diary_register}" method="post"
                              enctype="multipart/form-data" th:object="${boardDTO}">
                            <h3 class="text-center" th:text="${boardDTO.categoryType.getDescription()}"></h3>
                            <div class="mb-3 mt-3">
                                <label for="title" class="form-label">제목:</label>
                                <input type="text" class="form-control" id="title" name="title" th:field="*{title}">
                                <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                            </div>
                            <div class="mb-3">
                                <label for="summernote">내용:</label>
                                <textarea class="form-control" rows="5" id="summernote" name="content"
                                          th:field="*{content}"></textarea>
                                <p class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
                            </div>
                            <input type="hidden" name="categoryType" th:field="*{categoryType}">
                            <input type="hidden" name="userId" value="33">
                            <input type="hidden" name="viewCnt" value="0">
                            <input type="hidden" name="goodCnt" value="0">
                            <button type="submit" class="btn btn-primary">등록</button>
                            <button type="button" class="btn btn-danger"
                                    th:onclick="|location.href='@{/board_diary_list}'|">취소</button>
                        </form>

                        <!--<form th:action="@{/board_diary_register}" method="post"
                              enctype="multipart/form-data" th:object="${boardDTO}"> &lt;!&ndash; 가입폼 &ndash;&gt;
                            <h3 class="text-center" th:text="*{getCategoryType().getDescription()}"></h3>
                            <div class="mb-3 mt-3">
                                <label for="title" class="form-label">제목:</label>
                                <input type="text" class="form-control" id="title" name="title" th:field="*{title}">
                                <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                            </div>
                            <div class="mb-3">
                                <label for="content">내용:</label>
                                <textarea class="form-control" rows="5" id="content" name="content"
                                          th:field="*{content}"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="img1" class="form-label">사진1:</label>
                                <input type="file" class="form-control" id="img1" name="imgFiles">
                                <label for="img2" class="form-label">사진2:</label>
                                <input type="file" class="form-control" id="img2" name="imgFiles">
                            </div>
                            <input type="hidden" name="categoryType" th:field="*{categoryType}">
                            <input type="hidden" name="userId" value="33">
                            <input type="hidden" name="viewCnt" value="0">
                            <input type="hidden" name="goodCnt" value="0">
                            <button type="submit" class="btn btn-primary">등록</button>
                            <button type="button" class="btn btn-danger"
                                    th:onclick="|location.href='@{/board_diary_list}'|">취소</button>
                        </form> &lt;!&ndash; End 가입폼 &ndash;&gt;-->
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi_calc}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_calc}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_calc}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>