<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<body>
<div layout:fragment="content">
    <script>
        $(document).ready(function () {
            $('#searchFoodBtn').click(function () {
                var keyId = "be61650aef44488a9029";
                var serviceId = "I2790";
                var dataType = "json";
                var startIdx = "1"
                var endIdx = "10"
                var keyword = document.getElementById('keywordInput').value;

                var requestURL = "http://openapi.foodsafetykorea.go.kr/api/"
                                + keyId + "/"
                                + serviceId + "/"
                                + dataType + "/"
                                + startIdx + "/"
                                + endIdx + "/"
                                + "DESC_KOR=" + keyword;
                $.ajax({
                    type:"GET",
                    url: requestURL,
                    data: {},
                    success: function (data) {
                        let dataStr = JSON.stringify(data);
                        alert(requestURL + " ---> " + dataStr);

                        let parseData = JSON.parse(dataStr);
                        var foodTbl = document.getElementById('foodTbl');
                        var printdata = "";

                        printdata += "<thead class=\"text-center\">";
                        printdata += "<tr><th>음식명<\/th><th>칼로리<\/th><th><\/th><\/tr><\/thead>"
                        printdata += "<tbody>";
                        for(var i=0; i<parseData.I2790.row.length; i++) {
                            let makerName = parseData.I2790.row[i].MAKER_NAME;
                            let descKor = parseData.I2790.row[i].DESC_KOR;
                            let servingSize = parseData.I2790.row[i].SERVING_SIZE;
                            let servingUnit = parseData.I2790.row[i].SERVING_UNIT;
                            let nutrCont1 = parseData.I2790.row[i].NUTR_CONT1;

                            printdata += "<tr class=\"foodRow\">";
                            printdata += "<td>";
                            if(makerName.length > 0) printdata += "["+makerName+"]";
                            printdata += descKor+"<\/td>";
                            printdata += "<td>"+nutrCont1+"kcal ("+servingSize+servingUnit+")<\/td>";
                            printdata += "<td><input type=\"button\" class=\"selectBtn\" value=\"선택\"\/><\/td>"
                            printdata += "<\/tr>" ;
                        }
                        printdata += "<\/tbody>";
                        alert(printdata);
                        foodTbl.innerHTML = printdata;
                    }
                });
            });
        });
        $(".selectBtn").click(function() {
            alert("!!!!!");
            var selectBtn = $(this);

            var tr = selectBtn.parent().parent();
            var td = tr.children();

            alert(tr.text());
        });
        $(document).on("click", "selectBtn", function (){
            console.log();
        });
    </script>
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <form th:action="@{/board_diary_register}" method="post"
                              enctype="multipart/form-data" th:object="${boardDTO}"> <!-- 가입폼 -->
                            <h3 class="text-center">[[*{getCategoryType().getDescription()}]]</h3>
                            <div class="mb-3 mt-3">
                                <label for="title" class="form-label">제목:</label>
                                <input type="text" class="form-control" id="title" name="title" th:field="*{title}">
                                <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                            </div>
                            <div class="mb-3">
                                <label for="content">내용:</label>
                                <textarea class="form-control" rows="5" id="content" name="content"
                                          th:field="*{content}"></textarea>
                                <p class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
                            </div>
<!--                            <div class="mb-3">
&lt;!&ndash;
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#food_calorieModal">
                                    음식 칼로리 계산하기
                                </button>
&ndash;&gt;
                                <button type="button" class="btn btn-primary"
                                        th:onclick="|location.href='@{/food_calorie_calc}'|">
                                    음식 칼로리 등록하기
                                </button>
                            </div>-->
                            <div class="row mb-3 mt-3">
                                <div class="col-lg-3" style="float: left">
                                    <button type="button" class="btn btn-dark"
                                            style="float: left; height: 62px">오늘 먹은 음식칼로리 등록</button>
                                </div>
                                <div class="col-lg-9" style="float: right">
                                <textarea class="form-control" name="comment" id="comment" rows="2"
                                          style="resize:none"></textarea>
                                </div>
                                <!-- 댓글 등록 시 필요한 값들을 hidden으로 설정 -->
                                <input type="hidden" name="boardId" th:value="${boardDTO.id}">
                                <input type="hidden" name="goodCnt" value="0">
                                <input type="hidden" name="categoryType" th:value="${boardDTO.categoryType.name()}">
                            </div> <!-- End 댓글 작성 -->

                            <div class="mb-3 mt-3">
                                <label for="img1" class="form-label">사진1:</label>
                                <input type="file" class="form-control" id="img1" name="imgFiles">
                                <label for="img2" class="form-label">사진2:</label>
                                <input type="file" class="form-control" id="img2" name="imgFiles">
                            </div>
                            <input type="hidden" name="categoryType" th:field="*{categoryType}">
                            <input type="hidden" name="viewCnt" value="0">
                            <input type="hidden" name="goodCnt" value="0">
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary">확인</button>
                            </div>
                        </form> <!-- End 가입폼 -->

                        <!-- The Modal -->
                        <div class="modal" id="food_calorieModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">음식 칼로리</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body"> <!-- 음식칼로리 검색 모달창 -->
                                        <form>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="검색어 입력"
                                                       id="keywordInput" name="keywordInput">
                                                <div class="invalid-feedback">검색어를 입력해주세요.</div>
                                                <button type="button" class="btn btn-dark"
                                                        id="searchFoodBtn" name="searchFoodBtn">검색</button>
                                            </div>
                                        </form>
                                        <p/><p/>
                                        <div>
                                            <table class="table table-bordered" id="foodTbl">
                                            </table>
                                        </div>
                                    </div> <!-- End 음시칼로리 모달창 -->
                                </div>
                            </div>
                        </div> <!-- End Modal -->

                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_calc}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_calc}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>