<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <div class="container mt-3">
                        <div class="row" style="border-bottom: 2px solid black">
                            <div class="col-lg-12"><h2>팁 게시판</h2></div>
                        </div>
                        <div class="row mt-4 mb-3" >
                            <div class="col-lg-12">
                                <p style="font-size: 30px; margin-bottom: 0px;" th:text="${boardDTO.title}">제목</p></div>
                            </div>
                        <div class="row mb-3 text-start" style="border-bottom: 1px solid black; border-top: 1px solid black; height: 45px; background-color: #f2f2f2">
                            <div class="col-lg-5 mt-2">닉네임 : <div style="display: inline-block" th:text="${boardDTO.userNickname}"></div></div>
                            <div class="col-lg-2 mt-2"></div>
                            <div class="col-lg-3 mt-2 text-end">날짜 : <div style="display: inline-block" th:text="${#temporals.format(boardDTO.regDate, 'yyyy-MM-dd')}"></div></div>
                            <div class="col-lg-2 mt-2 text-end">조회수 : <div style="display: inline-block" th:text="${boardDTO.viewCnt}"></div></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" th:each="data:${boardDTO.imgFileList}">
                                <p th:text="${data}"></p>
                                <img th:src="|/images/@{${data}}|" alt="상품 이미지">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" th:text="${boardDTO.content}" style="height: auto; min-height: 500px">
                                내용
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-10 text-end" style="padding-right: 0px;">
                                <form action="/bookmark_register" method="post">
                                    <input type="hidden" th:value="${boardDTO.id}" name="boardId">
                                    <input type="hidden" name="categoryType" value="BTYPE_TIP">
                                    <button type="submit" class="btn btn-outline-dark" style="width: 120px; height: 50px; display: inline-block">
                                        <img src="/assets/img/bookmark_off.png" alt="" width="25" height="20">
                                        북마크
                                    </button>
                                </form>

                            </div>
                            <div class="col-lg-2 text-end">
                                <button type="button" class="btn btn-outline-dark rounded-pill" style="width: 110px; height:50px; display: inline-block" >
                                    <img src="/assets/img/suggestion.png" alt="" width="25" height="20">
                                    추천
                                </button>
                            </div>
                        </div>
                        <div class="row" style="border-top: 1px solid black; height: 100px;">
                            <div class="col-lg-4 mt-2"></div>
                            <div class="col-lg-4 mt-2"></div>
                            <div class="col-lg-4 mt-2" style="text-align: right">
                                <button class="btn btn-outline-dark" type="button" th:onclick="|location.href='@{/board_tip_modify(id=${boardDTO.id})}'|">
                                    수정
                                </button>
                                <button class="btn btn-outline-danger" type="button" th:onclick="|location.href='@{/board_tip_remove(id=${boardDTO.id})}'|">
                                    삭제
                                </button>
                                <button class="btn btn-outline-primary" type="button" th:onclick="|location.href='@{/board_tip_list}'|">
                                    목록으로
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 mt-2">댓글 작성: </div>
                            <div class="col-lg-4 mt-2"></div>
                            <div class="col-lg-4 mt-2"></div>
                        </div>

                        <div class="row mt-1">
                            <form action="/board/tip/detail" method="post">
                            <div style="float: left">
                                <textarea class="form-control" name="" id="" rows="3" style="height: 70px; width: 890px"></textarea>
                            </div>
                            <div style="float: right">
                                <button class="btn btn-dark" style="height: 70px; width: 60px">등록</button>
                            </div>
                            </form>
                        </div>

                        <div class="row mt-5">
                            <div class="col-lg-12 mb-2">댓글(0)</div>
                        </div>

                        <!--댓글 시작-->

                        <div style="border-bottom: 2px solid black; border-top: 2px solid black">
                            <div class="row mt-2">
                                <div class="col-lg-2 mb-2">작성자</div>
                                <div class="col-lg-6 mb-2">내용</div>
                                <div class="col-lg-4 mb-2">작성일</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-2 mb-2"><button type="button" class="btn btn-outline-secondary" onclick="replyBtn()">답글</button></div>
                                <div class="col-lg-6 mb-2"></div>
                                <div class="col-lg-4 mb-2"></div>
                            </div>
                            <form action="">
                                <div style="display: none" id="reply">
                                    <div class="row">
                                        <div class="col-lg-10" >
                                            <div class="mb-3">
                                                <textarea class="form-control" name="reply"  rows="2" style=" resize: none"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="submit" class="btn btn-dark">등록</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        </div>

                        <!--댓글 끝-->
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_list}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_list}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>