<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section class="search-result" id="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9"> <!-- 작업공간 -->
                        <div class="container mt-3"> <!--게시판 시작-->
                            <h2>팁 게시판</h2>
                            <hr>
                            <table class="table table-hover">
                                <thead>
                                <tr style="text-align: center">
                                    <th style="width: 20%">게시판</th>
                                    <th style="width: 35%">제목</th>
                                    <th style="width: 20%">작성자</th>
                                    <th style="width: 10%">조회수</th>
                                    <th style="width: 15%">작성일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data:${boardDTOS}"> <!--th:each="data:${DTO}"-->
                                    <td th:text="${data.getCategoryType().getDescription()}"></td>
                                    <td class="align-text-top">
                                        <a class="d-inline-block text-truncate" th:href="@{/board_tip_detail(id=${data.id})}" th:text="${data.title}"  style="max-width: 180px;"></a>&nbsp;&nbsp;
                                        <span class="d-inline-block text-truncate" style=" color: #ff4930">9</span>
                                    </td>
                                    <td style="text-align: center" th:text="${data.userNickname}">홍길동</td>
                                    <td style="text-align: center" th:text="${data.viewCnt}">21</td>
                                    <td style="text-align: center" th:text="${#temporals.format(data.regDate, 'yyyy-MM-dd')}">2021-11-29</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 text-center">
                                    <div class="custom-pagination py-4" th:if="${lastPage>0}"><!-- Paging -->
                                        <!--시작 페이지-->
                                        <div class="start" th:unless="${startPage==1}">
                                            <a th:href="@{/board_tip_list(page=1)}">
                                                <<
                                            </a>
                                        </div>
                                        <!--이전 페이지-->
                                        <div class="prev" th:unless="${currentPage==1}">
                                            <a th:href="@{board_tip_list(page=${prevPage})}">
                                                <
                                            </a>
                                        </div>
                                        <span th:each="page:${#numbers.sequence(startPage, endPage)}">
                                            <!--현재페이지 아닐시-->
                                            <div th:unless="${page==currentPage}">
                                                <a th:href="@{/board_tip_list(page=${page})}">
                                                    [[${page}]]
                                                </a>
                                            </div>
                                            <!--현재 페이지-->
                                            <div class="active" th:if="${page==currentPage}">
                                                [[${page}]]
                                            </div>
                                        </span>
                                        <!--다음페이지-->
                                        <div class="next" th:unless="${currentPage==lastPage}">
                                            <a th:href="@{/board_tip_list(page=${nextPage})}">
                                                >
                                            </a>
                                        </div>
                                        <!--마지막 페이지-->
                                        <div class="last" th:unless="${endPage==lastPage}">
                                            <a th:href="@{/board_tip_list(page=${lastPage})}">
                                                >>
                                            </a>
                                        </div>
                                    </div><!-- End Paging -->
                                </div>
                                <div class="col-md-3">
                                    <div><!--게시글 작성 버튼-->
                                        <button class="btn btn-primary float-end btn-sm" th:onclick="|location.href='@{/board_tip_register}'|"
                                                type="button">글쓰기
                                        </button>
                                    </div><!--게시글 작성 버튼 끝-->
                                </div>
                            </div>
                            <form class="d-flex justify-content-center"><!--검색-->
                                <select class="form-select form-select-sm" style="width: 100px; height: 31px;">
                                    <option>제목</option>
                                    <option>내용</option>
                                    <option>작성자</option>
                                </select>
                                <div class="ms-1">
                                    <input class="form-control form-control-sm" id="email" name="email" size="20" type="text">
                                </div>
                                <div class="ms-1">
                                    <button class="btn btn-dark btn-sm" type="submit">검색</button>
                                </div>
                            </form><!--검색 끝-->
                        </div><!--게시판 끝-->
                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/exercise_calorie_list}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/food_calorie_list}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>