<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8"> <!-- 작업공간 -->

                        <div class="row mb-5" style="border-bottom: 3px solid black;">
                            <h2>마이페이지</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer"
                                 onclick="location.href='/user_detail'">
                                <p class="mt-1" style="text-align: center;">내 정보수정</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer "
                                 onclick="location.href='/bookmark_list'">
                                <p class="mt-1" style="text-align: center;">북마크</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer "
                                 onclick="location.href='/user_mywrite'">
                                <p class="mt-1" style="text-align: center;">내 게시물</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey;  border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer"
                                 th:onclick="|location.href='@{/user_mycomment}'|">
                                <p class="mt-1" style="text-align: center;">내 댓글</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-bottom: none ;height: 40px;">
                                <p class="mt-1" style="text-align: center;">내 문의</p>
                            </div>
                            <div class="col-lg-2" style=" border-bottom: 2px solid lightgrey;  height: 40px; ">
                                <p class="mt-1" style="text-align: center;"></p>
                            </div>

                        </div>

                        <div class="row">
                            <div style="border: 2px solid lightgrey; border-top: none; height: auto;min-height: 600px">

                                <div class="mt-2">

                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width: 15%">처리여부</th>
                                            <th style="width: 40%">제목</th>
                                            <th style="width: 20%">등록일</th>
                                            <th style="width: 20%">상세보기</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="data:${contactDTOS}">
                                            <td style="width: auto; max-width: 20px">
                                                <span class="badge rounded-pill bg-success" th:if="${data.is_answer}==true">답변 완료</span>
                                                <span class="badge rounded-pill bg-danger" th:if="${data.is_answer}==false">답변 미완료</span>

                                            </td>
                                            <td>
                                                <span class="d-inline-block text-truncate" style="max-width: 250px" th:text="${data.title}"></span>
                                            </td>
                                            <td th:text="${#temporals.format(data.regDate, 'yyyy-MM-dd')}" style="width: auto; max-width: 40px">John</td>
                                            <td style="width: auto; max-width: 25px"><button class="btn btn-dark" type="button" th:onclick="|location.href='@{/user_contact_detail(id=${data.id})}'|">상세보기</button></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>