<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <main id="main">
        <!-- ======= Search Results ======= -->
        <section id="search-result" class="search-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7"> <!-- 작업공간 -->

                        <div class="row mb-5" style="border-bottom: 3px solid black;">
                            <h2>마이페이지</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer"
                                 onclick="location.href='/user_detail'">
                                <p class="mt-1" style="text-align: center;">내 정보수정</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer "
                                 onclick="location.href='/bookmark_list'">
                                <p class="mt-1" style="text-align: center;">북마크</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer "
                                 onclick="location.href='/user_mywrite'">
                                <p class="mt-1" style="text-align: center;">내 게시물</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey;  border-right: none; height: 40px; background-color: #f2f2f2; cursor: pointer">
                                <p class="mt-1" style="text-align: center;">내 댓글</p>
                            </div>
                            <div class="col-lg-2" style=" border: 2px solid lightgrey; border-bottom: none ;height: 40px;">
                                <p class="mt-1" style="text-align: center;">내 문의</p>
                            </div>
                            <div class="col-lg-2" style=" border-bottom: 2px solid lightgrey;  height: 40px; ">
                                <p class="mt-1" style="text-align: center;"></p>
                            </div>

                        </div>

                        <div class="row">
                            <div style="border: 2px solid lightgrey; border-top: none; height: auto;min-height: 200px">

                                <div class="mt-3">
                                    <div th:if="${contactDTO.is_answer}==true">
                                        <div class="row">
                                            <div><h5>답변 :</h5></div>
                                        </div>
                                        <div>
                                            <div>
                                                <p th:text="${contactDTO.answer}"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6"><h5>답변여부 :</h5><p>
                                            <span class="badge rounded-pill bg-success" th:if="${contactDTO.is_answer}==true">답변 완료</span>
                                            <span class="badge rounded-pill bg-danger" th:if="${contactDTO.is_answer}==false">답변 미완료</span>
                                        </p></div>
                                        <div class="col-lg-6"><h5>등록일 :</h5> <p th:text="${#temporals.format(contactDTO.regDate, 'yyyy-MM-dd HH:mm:ss')}"></p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><h5>제목 :</h5> <p th:text="${contactDTO.title}"></p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><h5>내용 :</h5></div>
                                    </div>
                                    <div class="row"  style="height: auto; min-height: 200px">
                                        <div class="col"><p th:text="${contactDTO.content}"></p></div>
                                    </div>

                                    <div class="mt-3 mb-5" th:if="${contactDTO.is_answer}==false">
                                        <button type="button" class="btn btn-dark" th:onclick="|location.href='@{/user_contact_modify(id=${contactDTO.id})}'|">수정</button>
                                        <button type="button" class="btn btn-danger" th:onclick="|location.href='@{/user_contact_delete(id=${contactDTO.id})}'|">삭제</button>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div> <!-- End 작업공간 -->
                    <div class="col-md-2">
                        <div class="trending">
                            <ul class="trending-post">
                                <li><a th:href="@{/mybmi}"><h3>BMI 계산</h3></a></li>
                                <li><a th:href="@{/calorie_exercise_list}"><h3>운동 칼로리 계산</h3></a></li>
                                <li><a th:href="@{/calorie_food_list}"><h3>음식 칼로리 계산</h3></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </section> <!-- End Search Result -->
    </main><!-- End #main -->
</div>
</body>
</html>